doctype html
html
  head
    title CooSpace Clone Backend
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    br
    footer
        p &copy; 2025 CooSpace Clone Backend